PWC_APP_ENV=dev
PWC_LANGUAGETOOL_URL=http://localhost:8010/v2/check
PWC_LIBRETRANSLATE_URL=http://localhost:5001/translate
PWC_MAX_TEXT_LENGTH=50000
PWC_MAX_FILE_SIZE_BYTES=8388608
PWC_REQUEST_TIMEOUT_SECONDS=8
